{% extends 'base.html' %}{% block title %} | Disclaimer {% endblock %} {% block content %}
{% load static %}
<br>
<br>
<br>
<div class="row">
<div class="container">
  <!-- Termly Tracking Code -->

  <div name="termly-embed" data-id="584f210f-9d32-4b9f-a861-d63f02e211e8" data-type="iframe"></div>
  <script type="text/javascript">(function(d, s, id) {
    var js, tjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://app.termly.io/embed-policy.min.js";
    tjs.parentNode.insertBefore(js, tjs);
  }(document, 'script', 'termly-jssdk'));</script>
</div>
  </div>

{% endblock %}
