{% extends 'base.html' %}{% block title %} | Home{% endblock %} {% block content %}
{% load static %}


<!-- ========== MAIN ========== -->


<main id="content" role="main">

  <!-- Hero Section -->
  <div class="container space-top-3 space-top-md-5 space-top-lg-4 space-bottom-1 space-bottom-sm-2">

    <div class="w-lg-150">
      <h2 class="display-3 font-size-md-down-5 font-weight-bold mb-5">
        We will help you
        <span class="text-warning">
          <p> start, run &amp; grow</p>
        </span>
        your cannabis business
      </h2>
      <p class="lead font-weight-normal">You're destined for greatness. Let's get you there</p>

    </div>

  </div>
  <!-- End Hero Section -->
  <!-- Video Section -->
  <div class="container-fluid px-lg-5">

    <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll min-height-600" data-options='{direction: "normal"}'>

      <div class="dzsparallaxer--target" style="height: 130%; background-color: #000; background-image: url({% static 'assets/media/html5-video/working-in-office/cosmosvideo' %});" data-forcewidth_ratio="1.77">
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/JNFX32Hz_N0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
    <div class="col-lg-4 pt-7 pt-lg-0">
      <!-- Card -->
      <div class="card border-0 bg-primary shadow-primary-lg mt-lg-n11 p-5 p-lg-7">
        <div class="text-white mb-7">
            <br>
          <span class="d-block text-warning font-size-1 font-weight-semi-bold text-uppercase mb-3">Azimuth clients</span>
          <h2 class="h2 text-white">We have everything you need to start, run and grow your cannabis business</h2>

<!-- Button trigger modal-->
<button class="btn btn-block btn-white" type="button" data-toggle="modal" data-target="#exampleModal">Learn More</button>
<!-- Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Promotional Video</h5><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
                    <div id="youTubeVideoPlayerExample1" class="u-video-player">
                      <!-- Cover Image -->
                      <img class="img-fluid u-video-player__preview" src="https://corgiproduction.s3.amazonaws.com/AWSLogs/079129819709/CloudTrail/cosmos/cosmosmaster/assets/img/900x450/img2.jpg" alt="Image">
                      <!-- End Cover Image -->

                      <!-- Play Button -->
                      <a class="js-inline-video-player u-video-player__btn u-video-player__centered" href="javascript:;"
                         data-video-id="0qisGSwZym4"
                         data-parent="youTubeVideoPlayerExample1"
                         data-is-autoplay="true"
                         data-target="youTubeVideoIframeExample1"
                         data-classes="u-video-player__played">
                        <span class="u-video-player__icon u-video-player__icon--lg text-primary">
                          <span class="fas fa-play u-video-player__icon-inner"></span>
                        </span>
                      </a>
                      <!-- End Play Button -->

                      <!-- Video Iframe -->
                      <div class="embed-responsive embed-responsive-16by9">
                        <div id="youTubeVideoIframeExample1"></div>
                      </div>
                      <!-- End Video Iframe -->
                    </div>

      </div>
      <div class="modal-footer"><button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Close</button></div>
    </div>
  </div>
</div>


        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Video Section -->


  <!-- Divider -->
  <div class="container">
    <div class="w-lg-65 mx-lg-auto">
      <hr class="my-0">
    </div>
  </div>
  <!-- End Divider -->

  <!-- Icon Blocks Section -->
  <div class="container space-top-3 space-bottom-md-3 space-bottom-2">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
      <span class="btn btn-xs btn-soft-success btn-pill mb-2">What do we do for you?</span>
      <h2>Your journey with us</h2>
      <h4>No matter where you are in your journey, Azimuth is here to help guide you along the way</h4>
    </div>
    <!-- End Title -->

    <div class="row">
      <div class="col-md-4 mb-7">
        <a class="btn transition-3d-hover" href="#subscribeModal" data-modal-target="#subscribeModal">
          <div class="text-center px-lg-3">
            <span class="btn btn-icon btn-lg btn-soft-info rounded-circle mb-5">
              <span class="fas fa-user-astronaut fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
            </span>
            <h3 class="h5">Starting Out</h3>
            <p class="mb-md-0">Curious about what it takes to start a cannabis business and get a permit? Let us guide you through the process from start to finish</p>
          </div>
        </a>
      </div>

      <!-- Subscribe Modal Window -->
      <div id="subscribeModal" class="js-modal-window u-modal-window position-relative" style="width: 1000px;">

        <!-- Modal Close Button -->
        <button type="button" class="close close-light position-absolute top-0 right-0 z-index-2 p-2" aria-label="Close" onclick="Custombox.modal.close();">
          <span aria-hidden="true">×</span>
        </button>
        <!-- End Modal Close Button -->

        <div class="card border-0 text-center py-5 px-md-5">

          <div class="card-body">
            <!-- Title -->
            <div class="mb-4">
              <h4 class="h1 font-weight-semi-bold mb-1">What can we do for you?</h4>
              <p class=" mb-0">No matter where you are in your journey, we have you covered</p>

              <!-- Video Section -->
              <div class="container space-2">
                <div class="row justify-content-sm-center">
                  <div class="col-lg-9 col-xl-8">
                    <!-- Video Block -->
                    <div id="youTubeVideoPlayerExample1" class="u-video-player">
                      <!-- Cover Image -->
                      <img class="img-fluid u-video-player__preview" src="https://corgiproduction.s3.amazonaws.com/AWSLogs/079129819709/CloudTrail/cosmos/cosmosmaster/assets/img/900x450/img2.jpg" alt="Image">
                      <!-- End Cover Image -->

                      <!-- Play Button -->
                      <a class="js-inline-video-player u-video-player__btn u-video-player__centered" href="javascript:;"
                         data-video-id="0qisGSwZym4"
                         data-parent="youTubeVideoPlayerExample1"
                         data-is-autoplay="true"
                         data-target="youTubeVideoIframeExample1"
                         data-classes="u-video-player__played">
                        <span class="u-video-player__icon u-video-player__icon--lg text-primary">
                          <span class="fas fa-play u-video-player__icon-inner"></span>
                        </span>
                      </a>
                      <!-- End Play Button -->

                      <!-- Video Iframe -->
                      <div class="embed-responsive embed-responsive-16by9">
                        <div id="youTubeVideoIframeExample1"></div>
                      </div>
                      <!-- End Video Iframe -->
                    </div>
                    <!-- End Video Block -->
                  </div>
                </div>
              </div>
              <!-- End Video Section -->

              <!-- Accordion -->
<div id="paymentDetails" class="accordion">
  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingOne">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardOne"
                aria-expanded="false"
                aria-controls="cardOne">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="https://corgiproduction.s3.amazonaws.com/AWSLogs/079129819709/CloudTrail/cosmos/cosmosmaster/assets/img/icons/dispensary-icon-3.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="font-size-1">Dispensary</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
              <span class="btn btn-xs btn-soft-warning btn-pill">Most popular</span>
            </span>
            <span class="col-6 col-md-3">
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardOne" class="collapse" aria-labelledby="cardHeadingOne" data-parent="#paymentDetails">
      <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-7 mb-2 mb-sm-0">
            <h4 class="h6 mb-1">Natalie Curtis</h4>
            <span class="d-block font-size-1 mb-1">Bank of America</span>
            <p class="small">
              <span class="fas fa-info-circle mr-1"></span>
              Use this card to add funds to Your Front Balance. <a href="#">See Benefits</a>
            </p>
          </div>
          <div class="col-sm-5 mb-2 mb-sm-0">
            <h5 class="h6 mb-0">Billing address</h5>
            <h5 class="h6">Brian Robson</h5>
            <address class="font-size-1">
              77408 Satterfield Motorway<br>
              Suite 469 New Antonetta, BC K3L6P6<br>
              New York, NY, 09122-9122<br>
              United States
            </address>
            <button type="button" class="btn btn-xs btn-soft-secondary mr-1">Delete</button>
            <button type="button" class="btn btn-xs btn-primary">Edit</button>
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->

  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardTwo"
                aria-expanded="false"
                aria-controls="cardTwo">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="https://corgiproduction.s3.amazonaws.com/AWSLogs/079129819709/CloudTrail/cosmos/cosmosmaster/assets/img/icons/14-GARDEN-TOOLS-READY_cultivator-512.png" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Cultivators</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardTwo" class="collapse" aria-labelledby="cardHeadingTwo" data-parent="#paymentDetails">
      <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-7 mb-2 mb-sm-0">
            <h4 class="h6 mb-1">Natalie Curtis</h4>
            <span class="d-block font-size-1 mb-1">Payoneer</span>
            <p class="small">
              <span class="fas fa-info-circle mr-1"></span>
              Use this card to add funds to Your Front Balance. <a href="#">See Benefits</a>
            </p>
          </div>
          <div class="col-sm-5 mb-2 mb-sm-0">
            <h5 class="h6 mb-0">Billing address</h5>
            <h5 class="h6">Brian Robson</h5>
            <address class="font-size-1">
              9455 NE ALDERWOOD RD<br>
              C/O UZW-FH PORTLAND OREGON 97252<br>
              PORTLAND, OR, 97252-1777<br>
              United States
            </address>
            <button type="button" class="btn btn-xs btn-soft-secondary mr-1">Delete</button>
            <button type="button" class="btn btn-xs btn-primary">Edit</button>
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->

  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingThree">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardThree"
                aria-expanded="false"
                aria-controls="cardThree">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="https://corgiproduction.s3.amazonaws.com/AWSLogs/079129819709/CloudTrail/cosmos/cosmosmaster/assets/img/icons/buildings_29-512.png" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Manufacturers</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardThree" class="collapse" aria-labelledby="cardHeadingThree" data-parent="#paymentDetails">
      <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-7 mb-2 mb-sm-0">
            <h4 class="h6 mb-1">Natalie Curtis</h4>
            <span class="d-block font-size-1 mb-1">Discover Network</span>
            <p class="small">
              <span class="fas fa-info-circle mr-1"></span>
              Use this card to add funds to Your Front Balance. <a href="#">See Benefits</a>
            </p>
          </div>
          <div class="col-sm-5 mb-2 mb-sm-0">
            <h5 class="h6 mb-0">Billing address</h5>
            <h5 class="h6">Brian Robson</h5>
            <address class="font-size-1">
              63703 Greenfelder Center Suite<br>
              767 South Jennings, QC Y4E-1K9<br>
              United States
            </address>
            <button type="button" class="btn btn-xs btn-soft-secondary mr-1">Delete</button>
            <button type="button" class="btn btn-xs btn-primary">Edit</button>
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->
  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingFour">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardFour"
                aria-expanded="false"
                aria-controls="cardThree">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="https://corgiproduction.s3.amazonaws.com/AWSLogs/079129819709/CloudTrail/cosmos/cosmosmaster/assets/img/icons/electricity_7-512.png" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Testers</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardThree" class="collapse" aria-labelledby="cardHeadingThree" data-parent="#paymentDetails">
      <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-7 mb-2 mb-sm-0">
            <h4 class="h6 mb-1">Natalie Curtis</h4>
            <span class="d-block font-size-1 mb-1">Discover Network</span>
            <p class="small">
              <span class="fas fa-info-circle mr-1"></span>
              Use this card to add funds to Your Front Balance. <a href="#">See Benefits</a>
            </p>
          </div>
          <div class="col-sm-5 mb-2 mb-sm-0">
            <h5 class="h6 mb-0">Billing address</h5>
            <h5 class="h6">Brian Robson</h5>
            <address class="font-size-1">
              63703 Greenfelder Center Suite<br>
              767 South Jennings, QC Y4E-1K9<br>
              United States
            </address>
            <button type="button" class="btn btn-xs btn-soft-secondary mr-1">Delete</button>
            <button type="button" class="btn btn-xs btn-primary">Edit</button>
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->
  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingFive">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardFive"
                aria-expanded="false"
                aria-controls="cardThree">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="https://corgiproduction.s3.amazonaws.com/AWSLogs/079129819709/CloudTrail/cosmos/cosmosmaster/assets/img/icons/x-47-512.png" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Deliverers</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardThree" class="collapse" aria-labelledby="cardHeadingThree" data-parent="#paymentDetails">
      <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-7 mb-2 mb-sm-0">
            <h4 class="h6 mb-1">Natalie Curtis</h4>
            <span class="d-block font-size-1 mb-1">Discover Network</span>
            <p class="small">
              <span class="fas fa-info-circle mr-1"></span>
              Use this card to add funds to Your Front Balance. <a href="#">See Benefits</a>
            </p>
          </div>
          <div class="col-sm-5 mb-2 mb-sm-0">
            <h5 class="h6 mb-0">Billing address</h5>
            <h5 class="h6">Brian Robson</h5>
            <address class="font-size-1">
              63703 Greenfelder Center Suite<br>
              767 South Jennings, QC Y4E-1K9<br>
              United States
            </address>
            <button type="button" class="btn btn-xs btn-soft-secondary mr-1">Delete</button>
            <button type="button" class="btn btn-xs btn-primary">Edit</button>
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->
  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingSix">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardSix"
                aria-expanded="false"
                aria-controls="cardThree">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                  <span class="media-body">
                  <span class="d-block font-size-1">See All</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardThree" class="collapse" aria-labelledby="cardHeadingThree" data-parent="#paymentDetails">
      <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-7 mb-2 mb-sm-0">
            <h4 class="h6 mb-1">Natalie Curtis</h4>
            <span class="d-block font-size-1 mb-1">Discover Network</span>
            <p class="small">
              <span class="fas fa-info-circle mr-1"></span>
              Use this card to add funds to Your Front Balance. <a href="#">See Benefits</a>
            </p>
          </div>
          <div class="col-sm-5 mb-2 mb-sm-0">
            <h5 class="h6 mb-0">Billing address</h5>
            <h5 class="h6">Brian Robson</h5>
            <address class="font-size-1">
              63703 Greenfelder Center Suite<br>
              767 South Jennings, QC Y4E-1K9<br>
              United States
            </address>
            <button type="button" class="btn btn-xs btn-soft-secondary mr-1">Delete</button>
            <button type="button" class="btn btn-xs btn-primary">Edit</button>
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Accordion -->
            </div>
            <!-- End Title -->

            <!-- SVG Icon -->
            <figure class="w-80 mx-auto mb-1 ie-subscribe-2-flat-icons">
              <img class="js-svg-injector" src="https://corgiproduction.s3.amazonaws.com/AWSLogs/079129819709/CloudTrail/cosmos/cosmosmaster/assets/svg/flat-icons/subscribe-2.svg" alt="Image Description" data-parent="#subscribeModal">
            </figure>
            <!-- End SVG Icon -->

            <!-- Subscribe Form -->
            <form class="js-validate js-form-message w-80 mx-auto">

              <label class="sr-only" for="subscribeSrEmail">Enter your email address</label>
              <div class="input-group input-group-borderless">
                <input type="email" class="form-control" name="email" id="subscribeSrEmail" placeholder="Enter your email address" aria-label="Enter your email address" aria-describedby="subscribeButton" required
                  data-msg="Please enter a valid email address.">
                <div class="input-group-append">
                  <button type="button" class="btn btn-success" id="subscribeButton">Subscribe</button>
                </div>
              </div>
            </form>
            <!-- End Subscribe Form -->
          </div>

          <!-- SVG Background Shape -->
          <div class="w-100 content-centered-y z-index-n1">
            <figure class="ie-bg-elements-1">
              <img class="js-svg-injector" src="https://corgiproduction.s3.amazonaws.com/AWSLogs/079129819709/CloudTrail/cosmos/cosmosmaster/assets/svg/components/bg-elements-1.svg" alt="Image Description" data-parent="#subscribeModal">
            </figure>
          </div>
          <!-- End SVG Background Shape -->
        </div>
      </div>
      <!-- End Subscribe Modal Window -->



      <div class="col-md-4 mb-7">
        <a class="btn transition-3d-hover" href="#subscribeModal" data-modal-target="#subscribeModal">
        <div class="text-center px-lg-3">
          <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
            <span class="fas fa-space-shuttle fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
          </span>
          <h3 class="h5">About To Launch</h3>
          <p class="mb-md-0">We have easy to use marketing and business plan builders. Marketing and public relations experts are on hand to help</p>
        </div>
        </a>
      </div>

      <div class="col-md-4 mb-7">
        <a class="btn transition-3d-hover" href="#subscribeModal" data-modal-target="#subscribeModal">
        <div class="text-center px-lg-3">
          <span class="btn btn-icon btn-lg btn-soft-success rounded-circle mb-5">
            <span class="fas fa-satellite fa-2x btn-icon__inner btn-icon__inner-bottom-minus"></span>
          </span>
          <h3 class="h5">Ready to Soar</h3>
          <p class="mb-md-0">We will help you blast off! We have innovative solutions for everything. Talk to us about app &amp; web development, chatbots & more</p>
        </div>
        </a>
      </div>
    </div>

    <img class="img-fluid d-none d-md-block w-75 mx-auto mb-7" src="https://corgiproduction.s3.amazonaws.com/AWSLogs/079129819709/CloudTrail/cosmos/cosmosmaster/assets/svg/components/pointer-1.svg" alt="SVG Arrow">


    <!-- Icon Blocks -->
    <div class="row mb-9">
      <div class="col-sm-6 col-md-4 mb-7">
        <!-- Icon Block -->
        <a href="{% url 'business' %}" class="">
        <div class="media align-items-center mb-2">
          <figure id="icon29" class="ie-height-40 w-100 max-width-6 mr-3">
            <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/flat-icons/project.svg" alt="SVG" data-parent="#icon29">
          </figure>
          <div class="media-body">
            <h4 class="h6 mb-0">Business Plan Builder</h4>
          </div>
        </div>
        <p>Our innovative busines plan builder will guide you through the application process from start to finish</p>
        </a>
        <!-- End Icon Block -->
      </div>

      <div class="col-sm-6 col-md-4 mb-7">
        <!-- Icon Block -->
        <a href="{% url 'business' %}" class="">
        <div class="media align-items-center mb-2">
          <figure id="icon26" class="ie-height-40 w-100 max-width-6 mr-3">
            <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/flat-icons/easy-payment.svg" alt="SVG" data-parent="#icon26">
          </figure>
          <div class="media-body">
            <h4 class="h6 mb-0">S.O.P Builder</h4>
          </div>
        </div>
        <p>Compliance is critical in the cannabis industry. Our S.O.P builder makes it easy to produce ISO compliant documents</p>
        <!-- End Icon Block -->
        </a>
      </div>

      <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
        <!-- Icon Block -->
        <a href="" class="">
        <div class="media align-items-center mb-2">
          <figure id="icon31" class="ie-height-40 w-100 max-width-6 mr-3">
            <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/flat-icons/web-design.svg" alt="SVG" data-parent="#icon31">
          </figure>
          <div class="media-body">
            <h4 class="h6 mb-0">Web Development</h4>
          </div>
        </div>
        <p>Need a website? We can do it. Azimuth has a team of developers itching to get started on your idea</p>
        <!-- End Icon Block -->
        </a>
      </div>

      <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
        <!-- Icon Block -->
        <a href="{% url 'marketing' %}" class="">
        <div class="media align-items-center mb-2">
          <figure id="icon37" class="ie-height-40 w-100 max-width-6 mr-3">
            <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/flat-icons/services.svg" alt="SVG" data-parent="#icon37">
          </figure>
          <div class="media-body">
            <h4 class="h6 mb-0">Marketing Plan Builder</h4>
          </div>
        </div>
        <p>Our innovative marketing plan builder will tell you eveything you need to stay legal and attract customers</p>
        <!-- End Icon Block -->
        </a>
      </div>
      <br />
      <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
        <!-- Icon Block -->
        <a href="{% url 'marketing' %}" class="">
        <div class="media align-items-center mb-2">
          <figure id="icon5" class="ie-height-40 w-100 max-width-6 mr-3">
            <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/flat-icons/graphic-design.svg" alt="SVG" data-parent="#icon5">
          </figure>
          <div class="media-body">
            <h4 class="h6 mb-0">Marketing and Branding Guides</h4>
          </div>
        </div>
        <p>The cannabis industry faces unique challenges for marketing and branding, we have guides, infographics and tons of other stuff to help you make a splash</p>
        <!-- End Icon Block -->
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <!-- Icon Block -->
        <a href="" class="">
        <div class="media align-items-center mb-2">
          <figure id="icon28" class="ie-height-40 w-100 max-width-6 mr-3">
            <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/flat-icons/responsive.svg" alt="SVG" data-parent="#icon28">
          </figure>
          <div class="media-body">
            <h4 class="h6 mb-0">App Development</h4>
          </div>
        </div>
        <p>Want to be the Uber for weed? The GrubHub of Ganja? We develop for iOS and Android, contact us to discuss your project</p>
        <!-- End Icon Block -->
        </a>
      </div>
      <br />
      <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
        <!-- Icon Block -->
        <a href="{% url 'permitting' %}" class="">
        <div class="media align-items-center mb-2">
          <figure id="icon307" class="ie-height-40 w-100 max-width-6 mr-3">
            <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/flat-icons/vault.svg" alt="SVG" data-parent="#icon307">
          </figure>
          <div class="media-body">
            <h4 class="h6 mb-0">State and Local Forms</h4>
          </div>
        </div>
        <p>We have all the forms you need for recreationally legal states</p>
        <!-- End Icon Block -->
        </a>
      </div>

      <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
        <!-- Icon Block -->
        <a href="{% url 'marketing' %}" class="">
        <div class="media align-items-center mb-2">
          <figure id="icon500" class="ie-height-40 w-100 max-width-6 mr-3">
            <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/flat-icons/free-trial.svg" alt="SVG" data-parent="#icon500">
          </figure>
          <div class="media-body">
            <h4 class="h6 mb-0">Public Relations Guides</h4>
          </div>
        </div>
        <p>We know that community relations are critical in the cannabis industry. We have dozens of guides to make sure your neighbors love you</p>
        <!-- End Icon Block -->
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <!-- Icon Block -->
        <a href="" class="">
        <div class="media align-items-center mb-2">
          <figure id="icon280" class="ie-height-40 w-100 max-width-6 mr-3">
            <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/flat-icons/mobile-marketing.svg" alt="SVG" data-parent="#icon280">
          </figure>
          <div class="media-body">
            <h4 class="h6 mb-0">Chatbot Development</h4>
          </div>
        </div>
        <p>Chatbots can transform your customer experience. Use them for recommendations, selling or anything you can think of</p>
        <!-- End Icon Block -->
        </a>
      </div>
    </div>

  </div>
  <!-- End Icon Blocks -->
  <!-- Divider -->
  <!-- <div class="w-65 w-lg-50 mx-auto">
      <hr class="mt-0 mb-9">
    </div> -->
  <!-- End Divider -->

  <div class="text-center">
    <a href="#" class="btn btn-primary transition-3d-hover">See all Features</a>
  </div>
  <!-- Features Section -->
  <div id="featuresSection" class="container space-2 space-md-3">
    <!-- Title -->
    <div class="w-md-80 w-lg-40 text-center mx-md-auto mb-9">
    </div>
    <!-- End Title -->
<br>
    <div id="SVGmockupBg">
      <!-- Nav Classic -->
      <div class="position-relative w-lg-85 bg-white text-center z-index-2 mx-lg-auto">
        <ul class="nav nav-classic nav-rounded nav-shadow nav-justified" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link font-weight-medium active" id="pills-one-tab" data-toggle="pill" href="#pills-one" role="tab" aria-controls="pills-one" aria-selected="true">
              <div class="d-md-flex justify-content-md-center align-items-md-center">
                <figure class="ie-height-40 d-none d-md-block w-100 max-width-6 mr-3">
                  <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/icons/icon-14.svg" alt="SVG" data-parent="#SVGmockupBg">
                </figure>
                What we do
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium" id="pills-two-tab" data-toggle="pill" href="#pills-two" role="tab" aria-controls="pills-two" aria-selected="false">
              <div class="d-md-flex justify-content-md-center align-items-md-center">
                <figure class="ie-height-40 d-none d-md-block w-100 max-width-6 mr-3">
                  <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/icons/icon-21.svg" alt="SVG" data-parent="#SVGmockupBg">
                </figure>
                What we don't do
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium" id="pills-three-tab" data-toggle="pill" href="#pills-three" role="tab" aria-controls="pills-three" aria-selected="false">
              <div class="d-md-flex justify-content-md-center align-items-md-center">
                <figure class="ie-height-40 d-none d-md-block w-100 max-width-6 mr-3">
                  <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/icons/icon-5.svg" alt="SVG" data-parent="#SVGmockupBg">
                </figure>
                What do you want us to do?
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- End Nav Classic -->

      <!-- Tab Content -->
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade pt-9 show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab">
          <!-- Mockup Block -->
          <div class="row justify-content-lg-between align-items-lg-center">
            <div class="col-lg-4 mb-9 mb-lg-0">
              <!-- Info -->
              <div class="mb-5">
                <h3 class="h4 font-weight-semi-bold">Professional Services for the Cannabis Industry</h3>
                <p>Azimuth is a high quality, low cost resource for cannabis entrepreneurs. Our mission is to help everyone get involved in this exciting new industry, not just people with deep pockets</p>
              </div>

              <ul class="list-unstyled text-secondary font-size-1">
                <li class="media my-3">
                  <span class="fas fa-check text-primary mt-1 mr-3"></span>
                  <span class="media-body">
                    Assets to hep you grow your business
                  </span>
                </li>
                <li class="media my-3">
                  <span class="fas fa-check text-primary mt-1 mr-3"></span>
                  <span class="media-body">
                    Guides to help you market and brand your business
                  </span>
                </li>
                <li class="media my-3">
                  <span class="fas fa-check text-primary mt-1 mr-3"></span>
                  <span class="media-body">
                    Forms to help you permit your business
                  </span>
                </li>
              </ul>
              <!-- End Info -->
            </div>

            <div class="col-lg-7 position-relative">
              <div class="pl-md-9">
                <img class="img-fluid shadow rounded" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/img/700x525/img1.jpg" alt="Image Description">
              </div>

              <!-- SVG Component -->
              <div class="position-absolute bottom-0 left-0 w-75 z-index-n1">
                <figure class="ie-abstract-shapes-2">
                  <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/components/abstract-shapes-2.svg" alt="Image Description" data-parent="#SVGmockupBg">
                </figure>
              </div>
              <!-- End SVG Component -->
            </div>
          </div>
          <!-- End Mockup Block -->
        </div>
        <div class="tab-pane fade pt-9" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab">
          <!-- Mockup Block -->
          <div class="row justify-content-lg-between align-items-lg-center">
            <div class="col-lg-4 mb-9 mb-lg-0">
              <!-- Info -->
              <div class="mb-5">
                <h3 class="h4 font-weight-semi-bold">We are not a full service consulting firm. </h3>
                <p>We will get you as far along the way as we can at the lowest price we can possibly do but you might need someone to take you the final few steps. </p>
              </div>

              <ul class="list-unstyled text-secondary font-size-1">
                <li class="media my-3">
                  <span class="fas fa-check text-primary mt-1 mr-3"></span>
                  <span class="media-body">
                    Lorem
                  </span>
                </li>
                <li class="media my-3">
                  <span class="fas fa-check text-primary mt-1 mr-3"></span>
                  <span class="media-body">
                    Lorem
                  </span>
                </li>
                <li class="media my-3">
                  <span class="fas fa-check text-primary mt-1 mr-3"></span>
                  <span class="media-body">
                    Lorem
                  </span>
                </li>
              </ul>
              <!-- End Info -->
            </div>

            <div class="col-lg-7 position-relative">
              <div class="pl-md-9">
                <img class="img-fluid shadow-sm rounded" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/img/700x525/img2.jpg" alt="Image Description">
              </div>

              <!-- SVG Component -->
              <div class="position-absolute bottom-0 left-0 w-75 z-index-n1">
                <figure class="ie-abstract-shapes-4">
                  <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/components/abstract-shapes-4.svg" alt="Image Description" data-parent="#SVGmockupBg">
                </figure>
              </div>
              <!-- End SVG Component -->
            </div>
          </div>
          <!-- End Mockup Block -->
        </div>
        <div class="tab-pane fade pt-9" id="pills-three" role="tabpanel" aria-labelledby="pills-three-tab">
          <!-- Mockup Block -->
          <div class="row justify-content-lg-between align-items-lg-center">
            <div class="col-lg-4 mb-9 mb-lg-0">
              <!-- Info -->
              <div class="mb-5">
                <h3 class="h4 font-weight-semi-bold">Have a suggestion?</h3>
                <p>We love feedback, we always strive to be better</p>
              </div>

              <ul class="list-unstyled text-secondary font-size-1">
                <li class="media my-3">
                  <span class="fas fa-check text-primary mt-1 mr-3"></span>
                  <span class="media-body">
                    But if we fell down, or if you just have something you think might be cool
                  </span>
                </li>
                <li class="media my-3">
                  <span class="fas fa-check text-primary mt-1 mr-3"></span>
                  <span class="media-body">
                    Let us know!
                  </span>
                </li>
                <li class="media my-3">
                  <span class="fas fa-check text-primary mt-1 mr-3"></span>
                  <span class="media-body">
                    <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://csmsconsulting.us20.list-manage.com/subscribe/post?u=75162b7a2ce6abf422350238b&amp;id=b3d3a07d21" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE3">Message </label>
	<input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_75162b7a2ce6abf422350238b_b3d3a07d21" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
                  </span>
                </li>
              </ul>
              <!-- End Info -->
            </div>

            <div class="col-lg-7 position-relative">
              <div class="pl-md-9">
                <img class="img-fluid shadow-sm rounded" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/img/700x525/img3.jpg" alt="Image Description">
              </div>

              <!-- SVG Component -->
              <div class="position-absolute bottom-0 left-0 w-75 z-index-n1">
                <figure class="ie-abstract-shapes-3">
                  <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/components/abstract-shapes-3.svg" alt="Image Description" data-parent="#SVGmockupBg">
                </figure>
              </div>
              <!-- End SVG Component -->
            </div>
          </div>
          <!-- End Mockup Block -->
        </div>
      </div>
      <!-- End Tab Content -->
    </div>
  </div>
  <!-- End Features Section -->

  <!-- Divider -->
  <div class="container">
    <div class="w-lg-65 mx-lg-auto">
      <hr class="my-0">
    </div>
  </div>
  <!-- End Divider -->

    <!-- Clients Section -->
    <div class="container space-bottom-2 space-bottom-lg-3">
      <div class="row">


        <!-- Hero Section -->
        <div class="container space-1">
          <div class="row align-items-lg-center">
            <div class="col-lg-5 mb-9 mb-lg-0">
              <!-- Info -->
              <div class="mb-4">
                <h1 class="h1">A new way<br><strong class="text-primary">to do business</strong></h1>
                <p>Everyone should have access to the cannabis industry, not just those with deep pockets. Azimuth is a high quality, low cost resource for cannabis entrepreneaurs. We have hundreds of assets and innovative guides to help you grow,
                  market, license and run your business. Our mission is to help everyone get involved in this exciting new industry</p>
              </div>
              <!-- End Info -->

              <div class="small">
                <span class="font-weight-medium">View a demo:</span>
                <a class="link-muted mx-2" href="index.html">Explore live demo</a>

                <!-- Fancybox -->
                <a class="js-fancybox link-muted" href="javascript:;" data-src="https://vimeo.com/167434033" data-speed="700" data-animate-in="zoomIn" data-animate-out="zoomOut" data-caption="Front - Responsive Website Template">
                  <small class="fas fa-play text-primary mr-1"></small>
                  Play video
                </a>
                <!-- End Fancybox -->
              </div>
            </div>

            <div id="SVGNonStandardHeroShape" class="col-lg-7">
              <div class="px-lg-5">
                <!-- SVG Illustration -->
                <figure class="ie-non-standard-hero-shape">
                  <img class="js-svg-injector" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/illustrations/non-standard-hero-shape.svg" alt="Image Description" data-img-paths='[
                         {"targetId": "#SVGNonStandardHeroShapeImg1", "newPath": "https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/img/900x900/img2.jpg"},
                         {"targetId": "#SVGNonStandardHeroShapeImg2", "newPath": "https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/img/900x900/img2.jpg"}
                       ]' data-parent="#SVGNonStandardHeroShape">
                </figure>
                <!-- End SVG Illustration -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Hero Section -->

      </div>
    </div>
    <!-- End Clients Section -->
  <!-- Services Section -->
  <div class="container space-2 space-lg-3">
    <!-- Title -->
    <div class="w-lg-60 mb-5 mb-sm-11">
      <span class="d-block text-secondary font-size-1 text-uppercase mb-3">Azimuth services</span>
      <h2 class="h4 text-lh-md">Azimuth cannabis is here for all your business needs. We have everything you need to start, run and grow your business</h2>
    </div>
    <!-- End Title -->

    <div id="SVGServices" class="row">
      <div class="col-lg-5 mb-3 mb-sm-5 mb-lg-0">
        <!-- Card -->
        <a class="card card-text-dark border-0 bg-primary text-white shadow-lg min-height-380 h-100 transition-3d-hover" href="#">
          <figure class="position-sm-absolute top-0 left-0 w-100">
            <img class="js-svg-injector rounded-top" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/components/abstract-shapes-18.svg" alt="SVG" data-parent="#SVGServices">
          </figure>

          <article class="d-flex align-content-end flex-wrap h-100 p-5">
            <h4 class="text-white">Design</h4>
            <p class="text-white-70">Work with our team to deign the best branding for your business</p>
            <span class="text-white">Learn More <small class="fas fa-arrow-right ml-1"></small></span>
          </article>
        </a>
        <!-- End Card -->
      </div>

      <div class="col-sm-6 col-lg mb-3 mb-sm-0">
        <!-- Card -->
        <a class="card card-text-dark shadow-lg min-height-380 h-100 transition-3d-hover" href="#">
          <figure class="position-sm-absolute top-0 left-0 w-100">
            <img class="js-svg-injector rounded-top" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/components/abstract-shapes-17.svg" alt="SVG" data-parent="#SVGServices">
          </figure>

          <article class="d-flex align-content-end flex-wrap h-100 p-5">
            <h4 class="h5">Development</h4>
            <p>We strive to figure out ways to help your business grow through all platforms.</p>
            <span class="text-primary">Learn More <small class="fas fa-arrow-right ml-1"></small></span>
          </article>
        </a>
        <!-- End Card -->
      </div>

      <div class="col-sm-6 col-lg">
        <!-- Card -->
        <a class="card card-text-dark shadow-lg min-height-380 h-100 transition-3d-hover" href="#">
          <figure class="position-sm-absolute top-0 left-0 w-100">
            <img class="js-svg-injector rounded-top" src="https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/components/abstract-shapes-16.svg" alt="SVG" data-parent="#SVGServices">
          </figure>

          <article class="d-flex align-content-end flex-wrap h-100 p-5">
            <h4 class="h5">Marketing</h4>
            <p>Find what you need in one template and combine features at will.</p>
            <span class="text-primary">Learn More <small class="fas fa-arrow-right ml-1"></small></span>
          </article>
        </a>
        <!-- End Card -->
      </div>
    </div>
  </div>
  <!-- End Services Section -->

  <!-- Contacts Section -->
  <div class="bg-primary bg-img-hero" style="background-image: url(https://cosmoscannabis.s3-us-west-1.amazonaws.com/assets/svg/components/abstract-shapes-15.svg);">
    <div class="container space-top-2 space-top-lg-3 space-bottom-1">
      <!-- Title -->
      <div class="w-lg-50 text-center text-white mx-lg-auto mb-7">
        <span class="d-block text-white font-size-1 font-weight-semi-bold text-uppercase mb-3">Contact us</span>
      </div>
      <!-- End Title -->

      <div class="position-relative w-lg-50 z-index-2 mx-lg-auto">
        <!-- Form -->
        <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://csmsconsulting.us3.list-manage.com/subscribe/post?u=660052cdd7cb6878276d5645b&amp;id=4b41aa63c1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE6">Tell us more  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE6" class="required" id="mce-MMERGE6">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_660052cdd7cb6878276d5645b_4b41aa63c1" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[6]='MMERGE6';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
        <!-- End Form -->
      </div>
    </div>
  </div>
  <!-- End Contacts Section -->

  <!-- SVG Shape -->
  <figure class="position-absolute right-0 bottom-0 left-0">
    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 323" enable-background="new 0 0 1920 323" xml:space="preserve" style="margin-bottom: -8px;">
      <polygon class="fill-white" points="0,323 1920,323 1920,0 " />
    </svg>
  </figure>
  <!-- End SVG Shape -->
</main>
<!-- ========== END MAIN ========== -->
{% endblock %}
